<div class="adjust-all" *ngIf="client$  | async; let client">
    <div class="left-side"> 
        <div class="left-adjust better">
            <div class="image" >
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <p class="name">Hello, {{client.lastName.toUpperCase()}} {{client.firstName.toUpperCase()}}</p>
        </div>
        <div class="left-adjust better">
            <i class="fas fa-wallet"></i>
            <p class="price">${{balance.toFixed(2)}}</p>
            <p class="balance">Available Balance </p>
        </div>
    </div>

    <div class="right-side">
        <div class="diviser">
            <p class="title">Personal Details</p>
            <div class="hello">
                <div class="better left-details">
                    <p>Name</p>
                    <p>Date of Birth</p>
                    <p>Addresses</p>
                </div>
                <div class="better">
                    <p>{{client.lastName}} {{client.firstName}}</p>
                    <p>{{client.dateNaissance |   date:'shortDate'}}</p>
                    <p>{{client.adresse}}<br>
                        
                    </p>
                </div>
            </div>
        </div>
        <div class="diviser">
            <p class="title">Email Addresses</p>
            <div class="hello">
                <div class="better left-details">
                    <p>Email ID (Primary)</p>
                </div>
                <div class="better">
                    <p>{{client.email}}</p>
                </div>
            </div>
        </div>
        <div class="diviser">
            <p class="title">Phone</p>
            <div class="hello">
                <div class="better left-details">
                    <p>Mobile (Primary)</p>
                </div>
                <div class="better">
                    <p>{{client.phone}}</p>
                </div>
            </div>
        </div>
        <div class="diviser">
          
                <p class="title">Security</p>
            
            <div class="hello">
                <div class="better left-details">
                    <p>Password</p>
                </div>
                <div class="better">
                    <p class="pass">*********</p>
                </div>
                
            </div>
        </div>
    </div>
</div>